@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');



body {
	background: #485563;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */	

	color: #fff;
	font-family: sans-serif;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Rubik', sans-serif;
}

h1 {
	/* text-transform: uppercase; */
	text-align: center;
	margin-top: 150px;
	font-size: 50px;
}

h5 {
	/* text-transform: uppercase; */
	text-align: center;
	margin-top: 150px;
	font-size: 50px;
}

p {
	font-size: 25px;
	display: block;
	margin: 0 auto;
	width: 80%;
	text-align: center;
}

a {
	color: #121910;
	text-decoration: none;
}

#disqus_thread {
	width: 50%;
	margin-left: 25%;
	margin-top: 15%;
}
